@model Icosoft.Models.Detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@Url.Content(Model.Image)" alt="Image" style="width:300px; height:300px; max-width:100%; height:auto" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDetail }) |
    @Html.ActionLink("Back to List", "Index")
</p>
