@model IEnumerable<Icosoft.Models.Detail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeasureHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeasureWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepthMeasurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Depth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasureHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasureWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepthMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetail }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetail }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetail })
        </td>
    </tr>
}

</table>
